<div class="search-item-title">
    <a href ui-sref="app.case.details({caseId: value.id})">
        {{value.title}}
    </a>
</div>
<div>
    <i class="glyphicon glyphicon-user"></i>
    <user-info value="value.owner" field="name"></user-info>

    <i class="glyphicon glyphicon-calendar ml-xxs"></i>
    <span ng-bind="value.startDate | shortDate"></span>

    <span ng-if="value.endDate" class="text-success">
        (
        <strong>{{ 'views.directives.search.case.closed' | translate}}</strong>
        {{ 'views.directives.search.case.on' | translate}}
        {{value.endDate | shortDate}}
        {{ 'views.directives.search.case.as' | translate}}
        <strong>{{value.resolutionStatus}}</strong>)
    </span>
</div>
<div class="mt-xs wrap" ng-if="value.tags.length>0">
    <strong>{{ 'views.directives.search.case.tags' | translate}}</strong><tag-list data="value.tags"></tag-list>
</div>
<div class="mt-xs wrap">
    <strong>{{ 'views.directives.search.case.status' | translate}}</strong>
    <div>
      <span class="label label-default" ng-class="{'label-success': value.status === 'Resolved'}">{{value.status}}</span>
    </div>
</div>
<div class="mt-xs wrap">
    <span ng-bind="value.description| limitTo: 250"></span>
</div>
