<form class="form-horizontal" name="observableForm" ng-submit="add(observableForm);" novalidate>
    <div class="modal-header bg-primary">
        <h3 class="modal-title">{{ "views.partials.observables.observable.creation.create_new_observable(s)" | translateDefault:  "Create new observable(s)" }}</h3>
    </div>
    <div class="modal-body" ng-include="'views/partials/observables/creation/form.html'" ng-show="step === 'form'"></div>

    <div class="modal-body" ng-include="'views/partials/observables/creation/error.html'" ng-show="step === 'error'"></div>

    <div class="modal-footer text-left">
        <button class="btn btn-default" ng-click="cancel()" type="button">{{ "views.partials.observables.observable.creation.cancel" | translateDefault:  "Cancel" }}</button>
        <button class="btn btn-primary pull-right" ng-show="step ==='error'" ng-click="copyToClipboard()" type="button"><i class="fa fa-copy"></i> {{ "views.partials.observables.observable.creation.copy_to_clipboard" | translateDefault:  "Copy to clipboard" }}</button>
        <button class="btn btn-primary pull-right" ng-show="step ==='form'" ng-disabled="observableForm.$invalid || pendingAsync" type="submit"><i class="fa fa-plus"></i> {{ "views.partials.observables.observable.creation.create_observable(s)" | translateDefault:  "Create observable(s)" }}</button>
    </div>
</form>
