<div class="container-fluid">
    <div class="row mt-m">
        <div class="col-md-8 col-md-offset-2">
            <alert close="closeAlert($index)" ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</alert>
        </div>
    </div>

    <!-- Update Database -->
    <div class="row" ng-hide="showUserForm">
        <div class="col-md-8 col-md-offset-2">

            <div class="alert alert-warning center-block" role="alert">
                <p class="text-center">{{ 'views.maintenance.thehive_needs_to_update_its_database' | translate}}</p>
                <br>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-default" ng-click="migrate()" ng-hide="migrating">{{ 'views.maintenance.update_database' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Updating Database -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div ng-hide="showUserForm" ng-repeat="status in migrationStatus">
                {{status.tableName}} ({{status.current}} / {{status.total}})
                <uib-progress>
                    <uib-bar type="info" value="status.current * 100 / status.total">{{status.current}}</uib-bar>
                </uib-progress>
            </div>
        </div>
    </div>

    <!-- Add Administrator account -->
    <div class="row" ng-show="showUserForm">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{{ 'views.maintenance.create_administrator_account' | translate}}</h4></div>
                <div class="panel-body">
                    <form class="form-horizontal" ng-submit="createInitialUser()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'views.maintenance.login' | translate}}</label>
                            <div class="col-sm-10">
                                <input class="form-control" ng-model="newUser.login" placeholder="{{ 'views.placeholders.maintenance.login' | translateDefault: 'Login' }}" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'views.maintenance.name' | translate}}</label>
                            <div class="col-sm-10">
                                <input class="form-control" ng-model="newUser.name" placeholder="{{ 'views.placeholders.maintenance.name' | translateDefault: 'Name' }}" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'views.maintenance.password' | translate}}</label>
                            <div class="col-sm-10">
                                <input class="form-control" ng-model="newUser.password" placeholder="{{ 'views.placeholders.maintenance.password' | translateDefault: 'Password' }}" type="password" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-primary" type="submit">{{ 'views.maintenance.create' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
