<form class="form-horizontal" name="userForm" ng-submit="$modal.saveUser(userForm)" novalidate>
    <div class="modal-header bg-primary">
        <h3 class="modal-title">{{$modal.isEdit ? 'Update' : 'Add'}} user</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                {{ "views.partials.admin.organisation.user.modal.organisation" | translateDefault:  "Organisation" }}
                <i class="fa fa-asterisk text-danger"></i>
            </label>
            <div class="col-sm-9">
                <input class="form-control" name="organisation"
                    ng-disabled="true"
                    ng-model="$modal.formData.organisation"
                    required type="text">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.login.$invalid && !userForm.login.$pristine }">
            <label class="col-sm-3 control-label">
                {{ "views.partials.admin.organisation.user.modal.login" | translateDefault:  "Login" }}
                <i class="fa fa-asterisk text-danger"></i>
            </label>
            <div class="col-sm-9">
                <input class="form-control" name="login"
                    placeholder="{{ 'views.placeholders.partials.admin.organisation.user.modal.users_email_address' | translateDefault: 'User\'s email address' }}"
                    ng-disabled="$modal.isEdit"
                    ng-model="$modal.formData.login"
                    required type="email">
                <p class="help-block" ng-show="userForm.login.$error.required && !userForm.login.$pristine">{{ "views.partials.admin.organisation.user.modal.this_field_is_required." | translateDefault:  "This field is required." }}</p>
                <p class="help-block" ng-show="userForm.login.$error.email && !userForm.login.$pristine">{{ "views.partials.admin.organisation.user.modal.this_field_must_be_a_valid_email." | translateDefault:  "This field must be a valid email." }}</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label class="col-sm-3 control-label">
                {{ "views.partials.admin.organisation.user.modal.full_name" | translateDefault:  "Full name" }}
                <i class="fa fa-asterisk text-danger"></i>
            </label>
            <div class="col-sm-9">
                <input class="form-control" name="name"
                    placeholder="{{ 'views.placeholders.partials.admin.organisation.user.modal.users_name' | translateDefault: 'User\'s name' }}"
                    ng-model="$modal.formData.name"
                    required type="text">
                <p class="help-block" ng-show="userForm.name.$invalid && !userForm.name.$pristine">{{ "views.partials.admin.organisation.user.modal.this_field_is_required." | translateDefault:  "This field is required." }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                {{ "views.partials.admin.organisation.user.modal.profile" | translateDefault:  "Profile" }}
                <i class="fa fa-asterisk text-danger"></i>
            </label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="$modal.formData.profile"
                    ng-options="name for (name, profile) in $modal.profiles"
                    ng-change="permissions = $modal.profiles[$modal.formData.profile.name].permissions">
                        <option value="" disabled selected>{{ "views.partials.admin.organisation.user.modal.--_select_profile_--" | translateDefault:  "-- Select profile --" }}</option>
                </select>
                <permission-list  ng-init="permissions = $modal.profiles[$modal.formData.profile.name].permissions"
                    permissions="permissions"
                    show-label="true"
                    label="Permissions"></permission-list>
            </div>
        </div>
    </div>
    <div class="modal-footer text-left">
        <button class="btn btn-default" ng-click="$modal.cancel()" type="button">{{ "views.partials.admin.organisation.user.modal.cancel" | translateDefault:  "Cancel" }}</button>
        <span class="hpad10">
            <i class="fa fa-asterisk text-danger"></i>&nbsp;{{ "views.partials.admin.organisation.user.modal.required_field" | translateDefault:  "Required field" }}</span>
        <button class="btn btn-primary pull-right" ng-disabled="userForm.$invalid" type="submit">{{ "views.partials.admin.organisation.user.modal.save_user" | translateDefault:  "Save user" }}</button>
    </div>
</form>
