<div class="form-group">
    <label>{{ 'views.directives.dashboard.counter.basic.title' | translate}}</label>
    <input type="text" class="form-control" placeholder="Ex: cases per TLP" ng-model="component.options.title">
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>{{ 'views.directives.dashboard.counter.basic.entity' | translate}}</label>
            <select class="form-control" ng-model="component.options.entity"
                ng-options="item as metadata[item].label for item in metadata.entities"></select>
        </div>
    </div>
</div>
