<div>
    <div ng-if="!$ctrl.shares || $ctrl.shares.length === 0">
        <div class="empty-message">{{ "views.components.sharing.sharing-list.no_records" | translateDefault:  "No records" }}</div>
    </div>

    <div ng-if="$ctrl.shares.length > 0">

        <table class="table table-striped">
            <thead>
                <th width="20"></th>
                <th>{{ "views.components.sharing.sharing-list.organisation" | translateDefault:  "Organisation" }}</th>
                <th width="250">{{ "views.components.sharing.sharing-list.profile" | translateDefault:  "Profile" }}</th>
                <th width="160">{{ "views.components.sharing.sharing-list.shared_at" | translateDefault:  "Shared At" }}</th>
                <th width="160" class="text-right" if-permission="manageShare" allowed="{{$ctrl.permissions}}">{{ "views.components.sharing.sharing-list.actions" | translateDefault:  "Actions" }}</th>
            </thead>
            <tbody>
                <tr ng-repeat="share in $ctrl.shares | orderBy:'organisationName'"
                    ng-class="{true:'tr-warning'}[share.owner]">
                    <td class="text-center">
                        <i class="fa fa-star" ng-if="share.owner" uib-tooltip="Owner of the share" tooltip-placement="right-middle"></i>
                    </td>
                    <td>{{share.organisationName}}</td>
                    <td ng-if="$ctrl.readOnly">
                        <span>{{share.profileName}}</span>
                    </td>
                    <td ng-if="!$ctrl.readOnly">
                        <span if-not-permission="manageShare" allowed="{{$ctrl.permissions}}">{{share.profileName}}</span>
                        <span if-permission="manageShare" allowed="{{$ctrl.permissions}}">
                            <span ng-if="share.owner === true">{{share.profileName}}</span>
                            <span ng-if="share.owner !== true">
                                <updatable-select options="$ctrl.profiles" value="share.profileName" on-update="$ctrl.updateProfile(share._id, newValue)"></updatable-select>
                            </span>
                        </span>
                    </td>
                    <td>{{share.createdAt | shortDate}}</td>
                    <td class="text-right" if-permission="manageShare" allowed="{{$ctrl.permissions}}">
                        <span class="clickable text-danger" ng-if="share.owner !== true" ng-click="$ctrl.remove(share)">
                            <i class="fa fa-trash"></i> {{ "views.components.sharing.sharing-list.delete" | translateDefault:  "Delete" }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
