<div class="row mb-s" if-permission="manageShare" allowed="{{userPermissions}}">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" ng-click="$vm.shareCase()" ng-disabled="!$vm.enableAddButton">
                    <i class="fa fa-plus"></i>
                    {{ "views.partials.case.case.sharing.add_share" | translateDefault:  "Add share" }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="$vm.shares.length === 0">
    <div class="col-md-12">
        <div class=" empty-message">{{ "views.partials.case.case.sharing.no_records" | translateDefault:  "No records" }}</div>
    </div>
</div>

<div class="row" ng-if="$vm.shares.length > 0">
    <div class="col-md-12">
        <p>
            {{ "views.partials.case.case.sharing.the_current_case_is_shared_with_the_following_organisation(s)" | translateDefault:  "The current case is shared with the following organisation(s)" }}
        </p>

        <sharing-list
            shares="$vm.shares"
            organisations="$vm.organisations"
            profiles="$vm.profiles"
            on-delete="$vm.removeShare(share)"
            on-update-profile="$vm.updateShareProfile(org, profile)"
            permissions="userPermissions"
            ></sharing-list>
    </div>
</div>
