<div class="modal-header bg-primary">
    <h3 class="modal-title">{{ 'views.directives.log-entry-delete.delete_log' | translate}}</h3>
</div>
<div class="modal-body">
    <p>
        {{ 'views.directives.log-entry-delete.you_are_about_to_delete_a_task_log_if_you_do_so_its_contents_will_be_permanently_lost' | translate}}
    </p>
    <p>
        {{ 'views.directives.log-entry-delete.do_you_want_to_proceed' | translate}}
    </p>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="cancelDropLog()" type="button">{{ 'views.directives.log-entry-delete.cancel' | translate}}</button>
    <button class="btn btn-danger pull-right" ng-click="confirmDropLog()">{{ 'views.directives.log-entry-delete.confirm' | translate}}</button>
</div>
