<div ng-if="active == true">
	<span class="clickable label" ng-class="{ true:'label-info', false:'label-default' }[value == 1]" ng-click="update(1)">{{ 'views.directives.severity.l' | translate}}</span>
	<span class="clickable label" ng-class="{ true:'label-warning', false:'label-default' }[value == 2 || !value]" ng-click="update(2)">{{ 'views.directives.severity.m' | translate}}</span>
	<span class="clickable label" ng-class="{ true:'label-danger', false:'label-default' }[value == 3]" ng-click="update(3)">{{ 'views.directives.severity.h' | translate}}</span>
	<span class="clickable label" ng-class="{ true:'label-critical', false:'label-default' }[value == 4]" ng-click="update(4)">{{ 'views.directives.severity.c' | translate}}</span>
</div>
<span ng-if="active != true" ng-switch="value">
	<span ng-switch-when="1" class="label label-info">{{ 'views.directives.severity.l' | translate}}</span>
	<span ng-switch-when="2" class="label label-warning">{{ 'views.directives.severity.m' | translate}}</span>
	<span ng-switch-when="3" class="label label-danger">{{ 'views.directives.severity.h' | translate}}</span>
	<span ng-switch-when="4" class="label label-critical">{{ 'views.directives.severity.c' | translate}}</span>
	<span ng-switch-default class="label label-primary">?</span>
</span>
