<nav class="navbar navbar-static-top main-navbar bg-navy" ng-if="!hideStatusBar" ng-show="currentUser.login">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#th-navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">{{ 'views.components.header.component.toggle_navigation' | translate}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="{{currentUser.homeState}}">
                <img alt="TheHive" src="images/logo.white.svg">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="th-navbar-collapse">
            <ul class="nav navbar-nav" ng-if="!isSuperAdmin()">
                <li ui-sref-active="active" if-permission="manageCase">
                    <a href ng-click="createNewCase()" ng-if="!templates || templates.length === 0">
                        <i class="fa fa-plus"></i>
                        <span class="hpad5">{{ 'views.components.header.component.new_case' | translate}}</span>
                    </a>
                    <a href ng-click="openTemplateSelector()" ng-if="templates && templates.length > 0">
                        <i class="fa fa-plus"></i>
                        <span class="hpad5">{{ 'views.components.header.component.new_case' | translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.main({viewId: 'mytasks'})">{{ 'views.components.header.component.my_tasks' | translate}}
                        <span class="badge alert-danger">{{myCurrentTasksCount || 0}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.main({viewId: 'waitingtasks'})">{{ 'views.components.header.component.waiting_tasks' | translate}}
                        <span class="badge alert-danger">{{waitingTasksCount || 0}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="app.alert-list">
                        {{ 'views.components.header.component.alerts' | translate}}
                        <span class="badge alert-danger">{{unreadAlertCount || 0}}</span>
                    </a>
                </li>
                <li class="hdivider hidden-xs"></li>
                <li ui-sref-active="active">
                    <a ui-sref="app.dashboards">
                        <i class="fa fa-bar-chart"></i> {{ 'views.components.header.component.dashboards' | translate}}
                    </a>
                </li>
                <li class="hdivider hidden-xs"></li>
                <li ui-sref-active="active">
                    <a ui-sref="app.search">
                        <i class="fa fa-search"></i> {{ 'views.components.header.component.search' | translate}}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="async > 0" class="hidden-xs">
                    <a>{{async}}
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </a>
                </li>

                <!-- dropdown menu for language-selection -->
                <li class="dropdown" uib-dropdown ng-controller="LanguageController">
                <a class="dropdown-toggle" uib-dropdown-toggle href>
                    <i class="fa fa-language"></i>
                    <span class="hpad5">{{selectedLanguage}}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="lang in languages">
                    <a href ng-click="changeLanguage(lang)">{{lang}}</a>
                    </li>
                </ul>
                </li>


                <!-- Super Admin menu -->
                <li ng-if="!isSuperAdmin()">
                    <form ng-submit="search(querystring)" style="margin-top : 10px">
                        <div class="input-group" style="width: 100px">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <input class="input-sm form-control" ng-model="querystring" placeholder="{{ 'views.placeholders.components.header.component.caseid' | translateDefault: 'CaseId' }}" style="width: 80px" tooltype="Enter a case number" type="number"></input>
                        </div>
                    </form>
                </li>


                <li class="dropdown" uib-dropdown ng-if="isSuperAdmin()">
                    <a class="dropdown-toggle" uib-dropdown-toggle href>
                        <i class="fa fa-cog"></i>
                        <span class="hpad5">{{ 'views.components.header.component.admin' | translate}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li if-permission="manageOrganisation">
                            <a ui-sref="app.administration.organisations">
                                <i class="fa fa-building-o"></i>
                                <span class="hpad5">{{ 'views.components.header.component.organisations' | translate}}</span>
                            </a>
                        </li>
                        <li if-permission="manageProfile">
                            <a ui-sref="app.administration.profiles">
                                <i class="fa fa-users"></i>
                                <span class="hpad5">{{ 'views.components.header.component.profiles' | translate}}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li if-permission="manageCustomField">
                            <a ui-sref="app.administration.custom-fields">
                                <i class="fa fa-edit"></i>
                                <span class="hpad5">{{ "views.components.header.component.case_custom_fields" | translate}}</span>
                            </a>
                        </li>
                        <li if-permission="manageObservableTemplate">
                            <a ui-sref="app.administration.observables">
                                <i class="glyphicon glyphicon-pushpin"></i>
                                <span class="hpad5">{{ 'views.components.header.component.observable_types' | translate}}</span>
                            </a>
                        </li>
                        <li if-permission="manageAnalyzerTemplate" ng-if="hasCortexConnector">
                            <a ui-sref="app.administration.analyzer-templates">
                                <i class="fa fa-file-text"></i>
                                <span class="hpad5">{{ 'views.components.header.component.analyzer_templates' | translate}}</span>
                            </a>
                        </li>
                        <li if-permission="manageTaxonomy">
                            <a ui-sref="app.administration.taxonomies">
                                <i class="fa fa-tags"></i>
                                <span class="hpad5">{{ 'views.components.header.component.taxonomies' | translate}}</span>
                            </a>
                        </li>
                        <li if-permission="managePattern">
                            <a ui-sref="app.administration.attackPatterns">
                                <i class="fa fa-tags"></i>
                                <span class="hpad5">{{ 'views.components.header.component.att&ck_patterns' | translate}}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li if-permission="managePlatform">
                            <a ui-sref="app.administration.platform">
                                <i class="fa fa-wrench"></i>
                                <span class="hpad5">{{ 'views.components.header.component.platform_status' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" ng-if="!isSuperAdmin()" if-permission="manageUser,manageCaseTemplate">
                    <a ui-sref="app.administration.organisations-details({'organisation': currentUser.organisation})">
                        <i class="fa fa-building-o"></i>
                        <span class="hpad5">{{ 'views.components.header.component.organisation' | translate}}</span>
                    </a>
                </li>

                <!-- User menu -->
                <li class="dropdown" uib-dropdown>
                    <a class="profile dropdown-toggle" uib-dropdown-toggle href>
                        <user user-id="currentUser.login"></user>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li>
                            <a ui-sref="app.settings">
                              <i class="fa fa-address-book"></i> {{ 'views.components.header.component.settings' | translate}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href ng-click="aboutTheHive()">
                              <i class="fa fa-question-circle"></i> {{ 'views.components.header.component.about' | translate}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href ng-click="logout()">
                              <i class="fa fa-sign-out"></i> {{ 'views.components.header.component.logout' | translate}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="currentUser.organisations.length > 1">
                    <a href ng-click="switchOrg()">
                      <i class="fa fa-random"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
