<section class="sidebar">

	<!-- Sidebar Menu -->
	<ul class="sidebar-menu">
		<li class="header">{{ 'views.components.main-sidebar.component.main_menu' | translate}}</li>
		<li class="active"><a ui-sref="home"><i class="fa fa-link"></i> <span>{{ 'views.components.main-sidebar.component.home' | translate}}</span></a></li>
		<li><a ui-sref="calendar"><i class="fa fa-link"></i> <span>{{ 'views.components.main-sidebar.component.calendar' | translate}}</span></a></li>
		<li class="treeview">
			<a href="#"><i class="fa fa-link"></i> <span>{{ 'views.components.main-sidebar.component.multilevel' | translate}}</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li><a href="#">{{ 'views.components.main-sidebar.component.link_1_in_level_2' | translate}}</a></li>
				<li><a href="#">{{ 'views.components.main-sidebar.component.link_2_in_level_2' | translate}}</a></li>
			</ul>
		</li>
	</ul>
	<!-- /.sidebar-menu -->
</section>
