<div class="row">
    <!-- Observable details information-->
    <div class="col-md-6">
        <h4 class="vpad10 text-primary">
            {{ "views.partials.observables.details.summary.basic_information" | translateDefault:  "Basic Information" }}
            <div class="task-actions pull-right">
                <!-- <span if-permission="manageShare" allowed="{{userPermissions}}"> -->
                <span>
                    <a href ng-click="scrollTo('#observable-sharings')">
                        <span class="mr-xxs action-button">
                            <i class="fa fa-users"></i> {{ "views.partials.observables.details.summary.sharing" | translateDefault:  "Sharing" }}
                        </span>
                    </a>
                </span>

                <span class="ml-xxs action-button" if-permission="manageAction" allowed="{{userPermissions}}" ng-if="appConfig.connectors.cortex.enabled">
                    <a href class="text-primary noline nowrap" ng-click="getObsResponders(artifact, true)">
                        <i class="text-primary fa fa-cog"></i>
                        {{ "views.partials.observables.details.summary.responders" | translateDefault:  "Responders" }}
                    </a>
                </span>
            </div>
        </h4>
        <dl class="dl-horizontal clear">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.tlp" | translateDefault:  "TLP" }}</dt>
            <dd ng-if="canEdit">
                <a class="noline" href ng-init="activeTlp = 'static'" ng-click="activeTlp = 'active'">
                    <tlp value="artifact.tlp" format="activeTlp" on-update="updateField('tlp', newValue)"></tlp>
                </a>
            </dd>
            <dd ng-if="!canEdit">
                <tlp format="'static'" value="artifact.tlp"></tlp>
            </dd>
        </dl>

        <dl class="dl-horizontal clear" ng-if="artifact.attachment && artifact.attachment.hashes">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.hash" | translateDefault:  "Hash" }}</dt>
            <dd>
                <div ng-repeat="hash in artifact.attachment.hashes" class="wrap" marked="hash | hashType"></div>
            </dd>
        </dl>

        <dl class="dl-horizontal clear" ng-show="artifact.metadata.size">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.size" | translateDefault:  "Size" }}</dt>
            <dd>{{artifact.attachment.size}} {{ "views.partials.observables.details.summary.bytes" | translateDefault:  "bytes" }}</dd>
        </dl>

        <dl class="dl-horizontal clear">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.date_added" | translateDefault:  "Date added" }}</dt>
            <dd>{{artifact.startDate | shortDate}}</dd>
        </dl>

        <dl class="dl-horizontal clear">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.is_ioc" | translateDefault:  "Is IOC" }}</dt>
            <dd ng-if="canEdit">
                <span class="clickable" ng-click="updateField('ioc', !artifact.ioc)">
                    <i class="text-primary fa" ng-class="{'true': 'fa-star', 'false': 'fa-star-o'}[artifact.ioc]"></i>
				</span>
            </dd>
            <dd ng-if="!canEdit">
                <span>
                    <i class="text-primary fa" ng-class="{'true': 'fa-star', 'false': 'fa-star-o'}[artifact.ioc]"></i>
				</span>
            </dd>
        </dl>

        <dl class="dl-horizontal clear">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.has_been_sighted" | translateDefault:  "Has been sighted" }}</dt>
            <dd ng-if="canEdit">
                <span class="clickable" ng-click="updateField('sighted', !artifact.sighted)">
                    <i class="text-primary fa" ng-class="{'true': 'fa-toggle-on', 'false': 'fa-toggle-off'}[artifact.sighted]"></i>
                </span>
            </dd>
            <dd ng-if="!canEdit">
                <span>
                    <i class="text-primary fa" ng-class="{'true': 'fa-toggle-on', 'false': 'fa-toggle-off'}[artifact.sighted]"></i>
				</span>
            </dd>
        </dl>

        <dl class="dl-horizontal clear">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.ignored_for_similarity" | translateDefault:  "Ignored for similarity" }}</dt>
            <dd ng-if="canEdit">
                <span class="clickable" ng-click="updateField('ignoreSimilarity', !!!artifact.ignoreSimilarity)">
                    <i class="text-primary fa" ng-class="{'true': 'fa-chain-broken', 'false': 'fa-chain'}[!!artifact.ignoreSimilarity]"></i>
                </span>
            </dd>
            <dd ng-if="!canEdit">
                <span>
                    <i class="text-primary fa" ng-class="{'true': 'fa-chain-broken', 'false': 'fa-chain'}[!!artifact.ignoreSimilarity]"></i>
				</span>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.tags" | translateDefault:  "Tags" }}</dt>
            <dd ng-if="canEdit">
                <updatable-tag-list on-update="updateField('tags', getLabels(newValue))" value="artifact.tags" source="getTags"></updatable-tag-list>
            </dd>
            <dd ng-if="!canEdit">
                <tag-list ng-if="artifact.tags.length > 0" data="artifact.tags"></tag-list>
                <em ng-if="!artifact.tags || artifact.tags.length === 0" class="text-warning">{{ "views.partials.observables.details.summary.not_specified" | translateDefault:  "Not Specified" }}</em>
            </dd>
        </dl>

        <dl class="dl-horizontal clear">
            <dt class="pull-left">{{ "views.partials.observables.details.summary.description" | translateDefault:  "Description" }}</dt>
            <dd ng-if="canEdit">
                <updatable-text value="artifact.message" on-update="updateField('message', newValue)" placeholder="{{ 'views.placeholders.partials.observables.details.summary.artifact_description' | translateDefault: 'Artifact description' }}"></updatable-text>
            </dd>
            <dd ng-if="!canEdit">
                <div ng-if="artifact.message" marked="artifact.message" class="markdown"></div>
                <em ng-if="!artifact.message" class="text-warning">{{ "views.partials.observables.details.summary.not_specified" | translateDefault:  "Not Specified" }}</em>
            </dd>
        </dl>
    </div>
    <!-- Observable links -->
    <div class="col-md-6" ng-if="!!!artifact.ignoreSimilarity">
        <h4 class="vpad10 text-primary">{{ "views.partials.observables.details.summary.links" | translateDefault:  "Links" }}</h4>

        <div class="empty-message" ng-if="similarArtifacts.length === 0">
            {{ "views.partials.observables.details.summary.this_observable_has_not_been_seen_in_any_other_case" | translateDefault:  "This observable has not been seen in any other case" }}
        </div>

        <div ng-if="similarArtifacts.length > 0">
            <strong>{{ "views.partials.observables.details.summary.observable_seen_in" | translateDefault:  "Observable seen in" }} {{similarArtifacts.length}} {{ "views.partials.observables.details.summary.other_case(s)" | translateDefault:  "other case(s)" }}</strong>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="80">{{ "views.partials.observables.details.summary.flags" | translateDefault:  "Flags" }}</th>
                        <th>{{ "views.partials.observables.details.summary.case" | translateDefault:  "Case" }}</th>
                        <th width="120">{{ "views.partials.observables.details.summary.date_added" | translateDefault:  "Date added" }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in similarArtifacts | limitTo:similarArtifactsLimit" style="cursor: pointer;" ng-click="openArtifact(a)" uib-tooltip="{{a.message}}" tooltip-popup-delay="500" tooltip-placement="bottom">
                        <td>
                            <observable-flags observable="a" inline="true" hide-seen="true" hide-similarity="true"></observable-flags>
                        </td>
                        <td>
                          <!-- [{{a.dataType}}]: {{a.data || a.attachment.name}}<br> -->
                          #{{a.stats.case.caseId}} - {{a.stats.case.title}}
                        </td>
                        <td>{{a.startDate | shortDate}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-xxs text-center" ng-if="similarArtifactsLimit < similarArtifacts.length">
                <a href ng-click="showMoreSimilar()"><i class="fa fa-angle-down"></i> {{ "views.partials.observables.details.summary.show_more" | translateDefault:  "Show more" }}</a>
            </div>
        </div>

    </div>
</div>
